variables:
  GIT_DEPTH: 0

default:
  before_script:
    - apt-get update && apt-get install -y git
    - git config --global --add safe.directory "$CI_PROJECT_DIR"
    - git fetch --all
    
stages:
  - build
  - test
  - deploy # on main only


# ----------STAGE: BUILD----------

build-image-commit_sha:
  stage: build
  tags:
    - linux-shell
  # before_script:
  script:
    - |
      echo "BUILD -> build-image-commit_sha"
      echo "$DOCKERHUB_API_KEY" | docker login --username "$DOCKERHUB_USER" --password-stdin
      docker build -t phellams-automator -f phellams-automator.dockerfile .
      docker tag phellams-automator "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA"
      docker push "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA"
  # artifacts:
  #   reports:
  #     dotenv: build.env

# ----------STAGE: TEST----------

test-image-commit_sha:
  stage: test
  image: $DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA
  needs: [build-image-commit_sha]
  tags:
    - docker
  script:
    - |
      echo "TEST -> test-image-commit_sha"
      pwsh -c '$PSVersionTable.PSVersion.ToString()'
      pwsh -c 'nuget help | Select-Object -First 1'
      pwsh -c 'dotnet --info'


# ----------STAGE: DEPLOY----------
# docker login with: echo "$PROGET_API_KEY" | docker login --username "admin" --password-stdin $PROGET_HOST fails
# perhaps something to do with selfhosted setup, used as backup, disabled for now.
# deploy-image-proget:
#   stage: deploy
#   tags:
#     - linux
#   dependencies:
#     - build-image-commit_sha
#   needs:
#     - build-image-commit_sha
#     - test-image-commit_sha
#   rules:
#     - if: $CI_COMMIT_BRANCH == "main"
#   before_script:
#     - echo "$PROGET_API_KEY" | docker login --username "admin" --password-stdin $PROGET_HOST
#   after_script:
#     - docker logout
#   script:
#     - docker pull "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA"
#     - docker tag "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA" "$PROGET_HOST/docker/phellams-automator:latest"
#     - docker tag "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA" "$PROGET_HOST/docker/phellams-automator:$VERSION" # Use job level variable
#     - docker push "$PROGET_HOST/docker/phellams-automator:latest"
#     - docker push "$PROGET_HOST/docker/phellams-automator:$VERSION"

deploy-image-dockerhub:
  stage: deploy
  # dependencies:
  #   - build-image-commit_sha # load build.env from build-image-commit_sha
  needs: [build-image-commit_sha, test-image-commit_sha]
    # - job: build-image-commit_sha
    #   artifacts: false
    # - job: test-image-commit_sha
    #   artifacts: false
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  before_script: 
    - echo "$DOCKERHUB_API_KEY" | docker login --username "$DOCKERHUB_USER" --password-stdin
  after_script:
    - docker logout
  tags:
    - linux-shell
  script:
  # git fetch --all required to pull down full commit history for semver generation
    - |
      git fetch --all 
      echo "GENERATE -> SEMVER version from git history"
      semver=$(pwsh -c "Import-Module ./includes/modules/gitautoversion; (Get-GitAutoVersion).Version") # Capture version
      echo "GENERATED -> SEMVER -> $semver"
      SEMVER_VERSION=$semver
      docker pull "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA"
      docker tag "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA" "$DOCKERHUB_USER/phellams-automator:latest"
      docker push "$DOCKERHUB_USER/phellams-automator:latest"
      docker tag "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA" "$DOCKERHUB_USER/phellams-automator:$SEMVER_VERSION"
      docker push "$DOCKERHUB_USER/phellams-automator:$SEMVER_VERSION"
      echo "Pushed to DockerHub: $DOCKERHUB_USER/phellams-automator:latest"

image-cleanup:
  stage: deploy
  needs: [deploy-image-dockerhub]
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  before_script:
    - echo "$DOCKERHUB_API_KEY" | docker login --username "$DOCKERHUB_USER" --password-stdin
  after_script:
    - docker logout
  tags:
    - linux-shell
  script:
    - docker rmi "$DOCKERHUB_USER/phellams-automator:$CI_COMMIT_SHA"